        @import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700");

        body {
            font-family: "Roboto", sans-serif;
            background-color: #efefef;
            /*背景*/
            background-image: url(./bj.jpg);
            display: flex;
            margin: 32px 0;
        }

        .container {
            z-index: 99999;
            max-width: 88%;
            width: 720px;
            margin: auto;
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        h1 {
            font-size: 32px;
            text-align: center;
            font-weight: 500;
            margin-bottom: 28px;
        }

        .item {
            border: 2px solid #222222;
            padding: 16px;
            border-radius: 8px;
            display: flex;
            gap: 16px;
            align-items: center;
            will-change: transform;
            background-color: #ffffff;
            transition: all 0.3s ease-in-out;
        }

        .item:hover {
            border-color: #7e3af2;
            transform: scale(1.025);
        }

        .item img {
            width: 36px;
            height: 36px;
            transition: all 0.3s ease-in-out;
        }

        .item:hover img {
            color: #7e3af2;
        }

        .item button {
            all: unset;
            margin-left: auto;
            background-color: #00CC99;
            padding: 8px 10px;
            border-radius: 6px;
            color: #ffffff;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }

        .item button:hover {
            background-color: #FF6600;
        }

        .item .filedata {
            display: flex;
            gap: 4px;
            font-size: 12px;
            margin-top: 8px;
            color: #888888;
        }

        .btn {
            position: absolute;
            right: 10px;
        }